Repository effervescentia/knot: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, refmt --in-place

.lintstagedrc:

{
  "**/package.json": ["fixpack", "git add"],
  "compiler/{library,lexer,parser,resolver,analyzer,generator,compiler,executable,test}/**/*.re": [
    "refmt --in-place",
    "git add"
  ]
}

chore: use fixpack config to order package.json
  .fixpackrc
  package.json
Due: fixpack

chore: extract more configs
  .czrc
  .huskyrc
  .vscode/settings.json
  package.json
  yarn.lock
Due: fixpack

chore(linting): add linting for commit messages
  .commitlintrc.json
  .huskyrc
  package.json
  yarn.lock
Due: fixpack

chore(pkg): format all package.json files
  .fixpackrc
  compiler/package.json
  examples/todo/package.json
  examples/webpack-react/package.json
  extensions/vscode/package.json
  packages/binaries/compiler/package.json
  packages/plugins/bundler/webpack/package.json
  packages/plugins/compiler/browser/package.json
  packages/plugins/compiler/jss/package.json
  packages/plugins/compiler/react/package.json
  packages/utilities/cli/package.json
Due: fixpack

chore(pkg): format with better sorting of less common keys
  .fixpackrc
  packages/plugins/bundler/webpack/package.json
  packages/plugins/compiler/jss/package.json
  packages/plugins/compiler/react/package.json
  packages/utilities/cli/package.json
Due: fixpack

chore: extract configurations from sub-projects
  .prettierrc
  .vscode/settings.json
  packages/plugins/bundler/webpack/.nycrc
  packages/plugins/bundler/webpack/ava.config.js
  packages/plugins/bundler/webpack/package.json
  packages/plugins/bundler/webpack/src/hooks.ts
  packages/plugins/bundler/webpack/src/index.ts
  packages/plugins/bundler/webpack/src/types.ts
  packages/plugins/bundler/webpack/src/utils.ts
  packages/plugins/bundler/webpack/tsconfig.json
  packages/plugins/bundler/webpack/typings/json.d.ts
  packages/plugins/compiler/jss/.nycrc
  packages/plugins/compiler/jss/ava.config.js
  packages/plugins/compiler/jss/package.json
  packages/plugins/compiler/react/.nycrc
  packages/plugins/compiler/react/ava.config.js
  packages/plugins/compiler/react/package.json
  packages/utilities/cli/.nycrc
  packages/utilities/cli/ava.config.js
  packages/utilities/cli/package.json
  packages/utilities/cli/tsconfig.json
  packages/utilities/cli/typings/gulp-conflict.d.ts
  packages/utilities/cli/typings/gulp-template.d.ts
Due: fixpack

test: fix test imports
  packages/plugins/bundler/webpack/src/index.test.ts
  packages/plugins/bundler/webpack/src/utils.test.ts
Due: none

fix(pkg): use explicit version for ocaml
  compiler/package.json
Due: fixpack

refactor: extract functionality into separate files and functions
  ava.config.js
  packages/binaries/compiler/index.js
  packages/plugins/bundler/webpack/ava.config.js
  packages/plugins/bundler/webpack/src/hooks.ts
  packages/plugins/bundler/webpack/src/index.ts
  packages/plugins/bundler/webpack/src/types.ts
  packages/plugins/bundler/webpack/src/utils.ts
  packages/plugins/compiler/browser/index.js
  packages/plugins/compiler/browser/utils.js
  packages/plugins/compiler/jss/ava.config.js
  packages/plugins/compiler/jss/src/colors.ts
  packages/plugins/compiler/jss/src/index.ts
  packages/plugins/compiler/react/ava.config.js
  packages/plugins/compiler/react/src/index.ts
  packages/plugins/compiler/react/src/main.ts
  packages/utilities/cli/ava.config.js
Due: none

fix(typescript): remove invalid readonly modifier
  packages/plugins/compiler/react/src/main.ts
Due: none

chore(scripts): externalize scripts with nps
  .gitignore
  .npsrc
  .scripts.ts
  .vscode/settings.json
  package.json
  packages/plugins/bundler/webpack/.scripts.ts
  packages/plugins/bundler/webpack/package.json
  packages/plugins/compiler/jss/.scripts.ts
  packages/plugins/compiler/jss/package.json
  packages/plugins/compiler/react/.scripts.ts
  packages/plugins/compiler/react/package.json
  packages/utilities/cli/.scripts.ts
  packages/utilities/cli/package.json
  packages/utilities/cli/src/index.test.ts
  packages/utilities/cli/src/index.ts
  scripts/build.ts
  scripts/cov.ts
  scripts/doc.ts
  scripts/fix.ts
  scripts/index.ts
  scripts/nps-utils.d.ts
  scripts/test.ts
  scripts/utility.ts
  tsconfig.json
  yarn.lock
Due: fixpack

chore(scripts): add commit script
  package.json
Due: fixpack

chore(circleci): run esy pesy after install
  .circleci/config.yml
Due: none

chore(circleci): always run esy pesy
  .circleci/config.yml
Due: none

chore: cleanup release dependencies
  package.json
  yarn.lock
Due: fixpack

chore(ci): disable release job
  .circleci/config.yml
Due: none

fix(deps): use explicit versioning for opam dependencies
  compiler/package.json
Due: fixpack

fix(deps): update reasonml and ocaml dependencies
  compiler/.gitignore
  compiler/analyzer/dune
  compiler/compiler/dune
  compiler/dune
  compiler/dune-project
  compiler/esy.lock.json
  compiler/executable/Http_Server.re
  compiler/executable/Http_Util.re
  compiler/executable/Routes.re
  compiler/executable/dune
  compiler/generator/dune
  compiler/lexer/dune
  compiler/library/dune
  compiler/package.json
  compiler/parser/dune
  compiler/resolver/dune
  compiler/test/dune
  package.json
  yarn.lock
Due: fixpack, refmt --in-place

chore(ci): change the file used as the cache key
  .circleci/config.yml
Due: none

chore(release): use iolaus for monorepo release
  .scripts.ts
  package.json
  yarn.lock
Due: fixpack

chore: thing
  .huskyrc
Due: none

chore(deps): update iolaus
  yarn.lock
Due: none

chore(release): release packages [skip ci]
  CHANGELOG.md
  packages/binaries/compiler/package.json
  packages/plugins/bundler/webpack/package.json
  packages/plugins/compiler/react/package.json
Due: fixpack

chore(deps): update iolaus
  package.json
  yarn.lock
Due: fixpack

chore(release): release packages [skip ci]
  CHANGELOG.md
Due: none

chore(ci): add release step
  .circleci/config.yml
Due: none

chore(ci): cleanup initial changelog
  CHANGELOG.md
  yarn.lock
Due: none

chore(ci): fix cache key for esy
  .circleci/config.yml
Due: none

chore(ci): enable release
  .scripts.ts
Due: none

chore(ci): specify github repo url with iolaus config
  .iolausrc.yml
Due: none

chore(ci): https github repo
  .iolausrc.yml
Due: none

chore(ci): try new version of iolaus for release
  .iolausrc.yml
  yarn.lock
Due: none

chore: add yarn.lock file
  yarn.lock
Due: none

chore: try using CLI args instead
  .iolausrc.yml
  .scripts.ts
Due: none

chore(release): release packages [skip ci]
  CHANGELOG.md
  packages/binaries/compiler/package.json
  packages/plugins/bundler/webpack/package.json
  packages/plugins/compiler/browser/package.json
  packages/plugins/compiler/jss/package.json
  packages/plugins/compiler/react/package.json
  packages/utilities/cli/package.json
Due: fixpack

chore(changelog): fix date and formatting errors
  CHANGELOG.md
  yarn.lock
Due: none

fix(npm): fix compiler package to include compiled binaries
  compiler/package.json
  packages/binaries/compiler/package.json
Due: fixpack
