Repository effervescentia/knot: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, refmt --in-place

.lintstagedrc:

{
  "**/(!esy.lock)/**/package.json": ["fixpack", "git add"],
  "package.json": ["fixpack", "git add"],
  "compiler/{library,lexer,parser,resolver,analyzer,generator,compiler,executable,test}/**/*.re": [
    "refmt --in-place",
    "git add"
  ]
}

feat: add error diagnostics
  compiler/src/language_server/CodeCompletion.re
  compiler/src/language_server/Diagnostics.re
  compiler/src/language_server/Initialize.re
  compiler/src/language_server/Protocol.re
  compiler/src/language_server/Response.re
  extensions/vscode/src/index.ts
Due: none

feat: add functions
  compiler/src/generate/JavaScript_Formatter.re
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Glyph.re
  compiler/src/grammar/Keyword.re
  compiler/src/grammar/Lambda.re
  compiler/src/grammar/TypeOf.re
  compiler/src/language_server/LocalSymbols.re
  compiler/src/language_server/TokenTree.re
  compiler/src/language_server/WorkspaceSymbols.re
  compiler/src/library/AST.re
  compiler/src/library/Constants.re
  compiler/src/library/Debug.re
  compiler/src/library/Type.re
  compiler/test/generate/JavaScript_FormatterTest.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/FormatterTest.re
Due: refmt --in-place

test: add function declaration tests
  compiler/src/library/AST.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/TestSuite.re
Due: refmt --in-place

chore: more splitting
  compiler/src/grammar/Formatter.re
  compiler/test/grammar/BooleanTest.re
  compiler/test/grammar/DeclarationTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/Kore.re
  compiler/test/grammar/NilTest.re
  compiler/test/grammar/NumberTest.re
  compiler/test/grammar/ProgramTest.re
Due: refmt --in-place

chore: more
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Kore.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/Primitive.re
  compiler/src/grammar/Program.re
  compiler/src/grammar/Statement.re
  compiler/src/grammar/TypeOf.re
  compiler/src/library/AST.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/Scope2.re
  compiler/test/compile/CompilerTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/grammar/BooleanTest.re
  compiler/test/grammar/DeclarationTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/Kore.re
  compiler/test/grammar/NilTest.re
  compiler/test/grammar/NumberTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/grammar/StringTest.re
  compiler/test/library/Assert.re
  compiler/test/library/ModuleTableTest.re
  compiler/test/library/Util.re
Due: refmt --in-place

chore: more splitting
  compiler/src/grammar/TypeOf.re
  compiler/src/library/AST.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/RawScope.re
  compiler/src/library/Scope2.re
  compiler/src/library/Type.re
  compiler/src/library/Type2.re
Due: none

chore: more
  compiler/src/library/Type.re
Due: none

chore: more
  compiler/src/library/Kore.re
  compiler/src/library/NestedHashtbl.re
  compiler/src/library/New_Context.re
  compiler/src/library/New_RawScope.re
  compiler/src/library/New_RawType.re
  compiler/src/library/New_Scope.re
  compiler/src/library/New_Type.re
Due: none

feat: make ModuleTable generic
  compiler/src/compile/Compiler.re
  compiler/src/library/Debug.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/Scope.re
  compiler/test/library/Assert.re
Due: refmt --in-place

feat: define new type system
  compiler/src/library/ClosureContext.re
  compiler/src/library/DefinitionTable.re
  compiler/src/library/ModuleContext.re
  compiler/src/library/NamespaceContext.re
  compiler/src/library/NestedHashtbl.re
  compiler/src/library/Pretty.re
  compiler/src/library/Type2.re
Due: none

chore: more
  compiler/src/compile/Compiler.re
  compiler/src/compile/Parser.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Identifier.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/Program.re
  compiler/src/library/ClosureContext.re
  compiler/src/library/Error.re
  compiler/src/library/Kore.re
  compiler/src/library/ModuleContext.re
  compiler/src/library/NamespaceContext.re
  compiler/src/library/Type2.re
Due: none

chore: more
  compiler/src/grammar/Import.re
  compiler/src/grammar/Operator.re
  compiler/src/language_server/Diagnostics.re
  compiler/src/language_server/Protocol.re
  compiler/src/library/Context.re
  compiler/src/library/Error.re
  compiler/src/library/ModuleContext.re
  compiler/src/library/NamespaceContext.re
  compiler/src/library/Type2.re
  compiler/test/library/Util.re
Due: refmt --in-place

chore: operators
  compiler/src/grammar/Operator.re
  compiler/src/library/Error.re
  compiler/src/library/Tuple.re
  compiler/src/library/Type2.re
Due: none

chore: more context upgrade
  compiler/src/executable/Reporter.re
  compiler/src/generate/JavaScript_Formatter.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Identifier.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Lambda.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/Primitive.re
  compiler/src/grammar/Statement.re
  compiler/src/grammar/TypeOf.re
  compiler/src/library/AST.re
  compiler/src/library/ClosureContext.re
  compiler/src/library/Debug.re
  compiler/src/library/Hashtbl.re
  compiler/src/library/ModuleContext.re
  compiler/src/library/Type2.re
  compiler/test/library/Util.re
Due: refmt --in-place

chore: more type resolution
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Lambda.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/Primitive.re
  compiler/src/grammar/Statement.re
  compiler/src/grammar/TypeOf.re
  compiler/src/language_server/TokenTree.re
  compiler/src/library/AST.re
  compiler/src/library/ClosureContext.re
  compiler/src/library/Cursor.re
  compiler/src/library/Debug.re
  compiler/src/library/Error.re
  compiler/src/library/Kore.re
  compiler/src/library/ModuleContext.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/NamespaceContext.re
  compiler/src/library/Type2.re
  compiler/src/resolve/Debug.re
  compiler/test/library/Assert.re
  compiler/test/library/InputTest.re
  compiler/test/library/Util.re
Due: refmt --in-place

chore: more
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/library/DefinitionTable.re
  compiler/src/library/ModuleContext.re
  compiler/test/grammar/Assert.re
  compiler/test/grammar/BooleanTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/NilTest.re
  compiler/test/grammar/NumberTest.re
  compiler/test/grammar/StringTest.re
  compiler/test/library/Util.re
Due: refmt --in-place

chore: more type resolution
  compiler/src/compile/Compiler.re
  compiler/src/compile/ScopeTree.re
  compiler/src/grammar/Program.re
  compiler/src/grammar/TypeOf.re
  compiler/src/library/DefinitionTable.re
  compiler/src/library/NamespaceContext.re
  compiler/src/library/Reference.re
Due: none

chore: working build
  compiler/src/compile/Compiler.re
  compiler/src/compile/ScopeTree.re
  compiler/src/executable/Reporter.re
  compiler/src/language_server/Hover.re
  compiler/src/language_server/LocalSymbols.re
  compiler/src/language_server/TokenTree.re
  compiler/src/library/Context.re
  compiler/src/library/Kore.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/NamespaceContext.re
  compiler/src/library/Scope.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScript_FormatterTest.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/DeclarationTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/Assert.re
  compiler/test/library/ModuleTableTest.re
  compiler/test/resolve/Assert.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

refactor: move things around
  compiler/src/compile/ScopeTree.re
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/language_server/Hover.re
  compiler/src/language_server/LocalSymbols.re
  compiler/src/library/AST.re
  compiler/src/library/DefinitionTable.re
  compiler/src/library/ModuleContext.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/Type2.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/ModuleTableTest.re
  compiler/test/library/Util.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

refactor: rename Type2 to Type
  compiler/src/compile/ScopeTree.re
  compiler/src/executable/Reporter.re
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/Primitive.re
  compiler/src/language_server/Hover.re
  compiler/src/language_server/LocalSymbols.re
  compiler/src/library/AST.re
  compiler/src/library/ClosureContext.re
  compiler/src/library/DefinitionTable.re
  compiler/src/library/Error.re
  compiler/src/library/Kore.re
  compiler/src/library/ModuleContext.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/NamespaceContext.re
  compiler/src/library/Type.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/ModuleTableTest.re
  compiler/test/library/Util.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

chore: initial
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Lambda.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/Primitive.re
  compiler/src/grammar/Statement.re
  compiler/src/grammar/TypeOf.re
  compiler/src/library/AST.re
  compiler/src/library/ClosureContext.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScript_FormatterTest.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/DeclarationTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/NilTest.re
  compiler/test/grammar/NumberTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/grammar/StringTest.re
  compiler/test/library/ModuleTableTest.re
  compiler/test/library/Util.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

chore: build working again
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/language_server/TokenTree.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/BooleanTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

chore: use Block utils more
  compiler/src/compile/Compiler.re
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Operator.re
  compiler/src/library/AST.re
Due: none

chore: switch Block to Node
  compiler/src/compile/Compiler.re
  compiler/src/file/InputStream.re
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Identifier.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Lambda.re
  compiler/src/grammar/Matchers.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/Primitive.re
  compiler/src/grammar/TypeOf.re
  compiler/src/language_server/Hover.re
  compiler/src/language_server/LocalSymbols.re
  compiler/src/language_server/Runtime.re
  compiler/src/language_server/TokenTree.re
  compiler/src/language_server/WorkspaceSymbols.re
  compiler/src/library/AST.re
  compiler/src/library/Block.re
  compiler/src/library/Input.re
  compiler/src/library/Kore.re
  compiler/src/library/Node.re
  compiler/test/generate/JavaScript_FormatterTest.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/BooleanTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/NilTest.re
  compiler/test/grammar/NumberTest.re
  compiler/test/grammar/StringTest.re
Due: refmt --in-place

chore: rename more
  compiler/src/file/InputStream.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Primitive.re
  compiler/src/grammar/TypeOf.re
  compiler/src/language_server/Hover.re
  compiler/src/language_server/Runtime.re
  compiler/src/library/AST.re
  compiler/src/library/Input.re
  compiler/src/library/Node.re
Due: none

chore: add declaration lexeme
  compiler/src/compile/Compiler.re
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Formatter.re
  compiler/src/language_server/LocalSymbols.re
  compiler/src/language_server/TokenTree.re
  compiler/src/language_server/WorkspaceSymbols.re
  compiler/src/library/AST.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScript_FormatterTest.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/DeclarationTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/Util.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

chore: add import lexeme
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/Lambda.re
  compiler/src/language_server/TokenTree.re
  compiler/src/library/AST.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/JavaScript_FormatterTest.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/ModuleTableTest.re
Due: refmt --in-place

chore: more
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Import.re
  compiler/src/library/AST.re
  compiler/test/grammar/DeclarationTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/ModuleTableTest.re
Due: refmt --in-place

chore: more
  compiler/src/generate/JavaScript_Generator.re
Due: none

feat: add cursor to module statements
  compiler/src/compile/Compiler.re
  compiler/src/compile/Parser.re
  compiler/src/language_server/LocalSymbols.re
  compiler/src/language_server/TokenTree.re
  compiler/src/language_server/WorkspaceSymbols.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

refactor: rename lexeme -> node
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/library/AST.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScript_FormatterTest.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/BooleanTest.re
  compiler/test/grammar/DeclarationTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/NilTest.re
  compiler/test/grammar/NumberTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/grammar/StringTest.re
  compiler/test/library/ModuleTableTest.re
  compiler/test/library/Util.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

refactor: rename types to exports
  compiler/src/library/ModuleTable.re
  compiler/src/library/NamespaceContext.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/Assert.re
  compiler/test/library/ModuleTableTest.re
Due: refmt --in-place

refactor: add analyzer package
  compiler/package.json
  compiler/src/analyze/Analyzer.re
  compiler/src/analyze/Kore.re
  compiler/src/analyze/Scope.re
  compiler/src/analyze/TypeOf.re
  compiler/src/analyze/dune
  compiler/src/compile/Kore.re
  compiler/src/executable/Reporter.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Identifier.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Lambda.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/Statement.re
  compiler/src/library/ClosureContext.re
  compiler/src/library/Kore.re
  compiler/src/library/ModuleContext.re
  compiler/src/library/NamespaceContext.re
  compiler/src/library/Type.re
  compiler/test/grammar/Assert.re
  compiler/test/grammar/DeclarationTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/Util.re
Due: fixpack, refmt --in-place

feat: wrap statement in cursor
  compiler/src/analyze/Analyzer.re
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Statement.re
  compiler/src/language_server/TokenTree.re
  compiler/src/library/AST.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/JSXTest.re
Due: refmt --in-place

refactor: rename getters to have get_ prefix
  compiler/src/analyze/Analyzer.re
  compiler/src/analyze/Scope.re
  compiler/src/analyze/TypeOf.re
  compiler/src/compile/Compiler.re
  compiler/src/compile/Parser.re
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Identifier.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Lambda.re
  compiler/src/grammar/Matchers.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/Primitive.re
  compiler/src/grammar/Statement.re
  compiler/src/language_server/Hover.re
  compiler/src/language_server/LocalSymbols.re
  compiler/src/language_server/Runtime.re
  compiler/src/language_server/TokenTree.re
  compiler/src/language_server/WorkspaceSymbols.re
  compiler/src/library/AST.re
  compiler/src/library/Graph.re
  compiler/src/library/Input.re
  compiler/src/library/Node.re
  compiler/src/parse/Onyx.re
  compiler/src/resolve/ImportGraph.re
  compiler/test/file/InputStreamTest.re
  compiler/test/grammar/BooleanTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/Declaration_FunctionTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/NilTest.re
  compiler/test/grammar/NumberTest.re
  compiler/test/grammar/StringTest.re
  compiler/test/library/Assert.re
  compiler/test/library/GraphTest.re
  compiler/test/library/InputTest.re
Due: refmt --in-place

chore: more
  compiler/src/compile/Compiler.re
  compiler/src/compile/ScopeTree.re
  compiler/src/executable/Cmd.re
  compiler/src/language_server/Runtime.re
  compiler/src/library/AST.re
  compiler/src/library/Cursor.re
  compiler/src/library/Document.re
  compiler/src/library/Hashtbl.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/Range.re
  compiler/src/library/RangeTree.re
  compiler/src/library/Walker.re
  compiler/test/resolve/Assert.re
Due: refmt --in-place

docs: add ARCHITECTURE.md file
  compiler/ARCHITECTURE.md
  compiler/doc/binary_architecture.mmd
  compiler/doc/compilation_flow.mmd
  compiler/doc/compiler_architecture.mmd
  compiler/package.json
Due: fixpack
