Repository effervescentia/knot: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, refmt --in-place

.lintstagedrc:

{
  "**/(!esy.lock)/**/package.json": ["fixpack", "git add"],
  "package.json": ["fixpack", "git add"],
  "compiler/{library,lexer,parser,resolver,analyzer,generator,compiler,executable,test}/**/*.re": [
    "refmt --in-place",
    "git add"
  ]
}

chore: more
  compiler/lexer/Lexer.re
  compiler/lexer/Match.re
  compiler/lexer/Matcher.re
  compiler/test/LexerTest.re
Due: refmt --in-place

chore: working refactor
  compiler/lexer/Character.re
  compiler/lexer/Comment.re
  compiler/lexer/Core.re
  compiler/lexer/Debug.re
  compiler/lexer/Identifier.re
  compiler/lexer/Lexer.re
  compiler/lexer/Match.re
  compiler/lexer/Matcher.re
  compiler/lexer/Number.re
  compiler/lexer/Pattern.re
  compiler/lexer/Text.re
  compiler/library/Util.re
  compiler/test/ConstResolverTest.re
  compiler/test/LexerTest.re
  compiler/test/ParserTest.re
Due: refmt --in-place

chore: nice new lexer with code frames
  compiler/executable/Error.re
  compiler/lexer/Boolean.re
  compiler/lexer/Character.re
  compiler/lexer/Comment.re
  compiler/lexer/Core.re
  compiler/lexer/Debug.re
  compiler/lexer/Identifier.re
  compiler/lexer/Keyword.re
  compiler/lexer/Lexer.re
  compiler/lexer/Match.re
  compiler/lexer/Matcher.re
  compiler/lexer/Number.re
  compiler/lexer/Pattern.re
  compiler/lexer/Text.re
  compiler/lexer/Util.re
  compiler/library/Exception.re
  compiler/library/Invariant.re
  compiler/library/UnicodeFileStream.re
  compiler/test/LexerTest.re
  compiler/test/TokenStreamTest.re
Due: refmt --in-place

feat: add codeframe to Lexer exceptions (#82)
  compiler/executable/Error.re
  compiler/lexer/Boolean.re
  compiler/lexer/Character.re
  compiler/lexer/Comment.re
  compiler/lexer/Core.re
  compiler/lexer/Debug.re
  compiler/lexer/Identifier.re
  compiler/lexer/Keyword.re
  compiler/lexer/Lexer.re
  compiler/lexer/Match.re
  compiler/lexer/Matcher.re
  compiler/lexer/Number.re
  compiler/lexer/Pattern.re
  compiler/lexer/Text.re
  compiler/lexer/Util.re
  compiler/library/CodeFrame.re
  compiler/library/Exception.re
  compiler/library/Invariant.re
  compiler/library/Operators.re
  compiler/library/Util.re
  compiler/test/Assert.re
  compiler/test/ConstResolverTest.re
  compiler/test/FileStreamTest.re
  compiler/test/LexerTest.re
  compiler/test/ParserTest.re
  compiler/test/TestSuite.re
Due: refmt --in-place

chore(release): release packages [skip ci]
  CHANGELOG.md
  examples/todomvc/package.json
  examples/webpack-react/package.json
  packages/binaries/compiler/package.json
  packages/plugins/bundler/webpack/package.json
Due: fixpack

feat(comments): change comment syntax
  compiler/executable/Error.re
  compiler/lexer/Comment.re
  compiler/lexer/Identifier.re
  compiler/lexer/Number.re
  compiler/lexer/Text.re
  compiler/lexer/Util.re
  compiler/test/LexerTest.re
  compiler/test/resources/project/src/index.kn
  compiler/test/resources/snippets/sample.kn
  compiler/test/resources/unix_module.txt
  compiler/test/resources/unix_tokens.txt
  compiler/test/resources/windows_tokens.txt
  extensions/syntax.iro
  extensions/vscode/language-configuration.json
  extensions/vscode/syntaxes/knot.tmLanguage
Due: refmt --in-place

feat(comments): change comment syntax (#83)
  compiler/executable/Error.re
  compiler/lexer/Comment.re
  compiler/lexer/Identifier.re
  compiler/lexer/Number.re
  compiler/lexer/Text.re
  compiler/lexer/Util.re
  compiler/test/LexerTest.re
  compiler/test/resources/project/src/index.kn
  compiler/test/resources/snippets/sample.kn
  compiler/test/resources/unix_module.txt
  compiler/test/resources/unix_tokens.txt
  compiler/test/resources/windows_tokens.txt
  extensions/syntax.iro
  extensions/vscode/language-configuration.json
  extensions/vscode/syntaxes/knot.tmLanguage
Due: refmt --in-place

feat(syntax highlighting): improve syntax highlighting
  compiler/package.json
  compiler/test/resources/project/src/constants.kn
  compiler/test/resources/project/src/functions.kn
  compiler/test/resources/project/src/index.kn
  compiler/test/resources/project/src/jsx.kn
  compiler/test/resources/project/src/utils.kn
  compiler/test/resources/simple_project/.gitignore
  compiler/test/resources/simple_project/.knot.yml
  compiler/test/resources/simple_project/src/index.kn
  extensions/syntax.iro
  extensions/vscode/syntaxes/knot.tmLanguage
Due: fixpack

feat: improve syntax highlighting
  extensions/syntax.iro
  extensions/vscode/syntaxes/knot.tmLanguage
Due: none

chore: better highlighting
  extensions/syntax.iro
  extensions/vscode/syntaxes/knot.tmLanguage
Due: none

docs(readme): update extension documentation
  extensions/.gitignore
  extensions/vscode/LICENSE
  extensions/vscode/README.md
  extensions/vscode/package.json
  images/icon.png
Due: fixpack

chore: move extension icon
  extensions/vscode/images/icon.png
Due: none

feat: syntax highlighting (#84)
  compiler/package.json
  compiler/test/resources/project/src/constants.kn
  compiler/test/resources/project/src/functions.kn
  compiler/test/resources/project/src/index.kn
  compiler/test/resources/project/src/jsx.kn
  compiler/test/resources/project/src/utils.kn
  compiler/test/resources/simple_project/.gitignore
  compiler/test/resources/simple_project/.knot.yml
  compiler/test/resources/simple_project/src/index.kn
  extensions/.gitignore
  extensions/syntax.iro
  extensions/vscode/LICENSE
  extensions/vscode/README.md
  extensions/vscode/images/icon.png
  extensions/vscode/package.json
  extensions/vscode/syntaxes/knot.tmLanguage
Due: fixpack

chore: fix vsce publisher
  extensions/vscode/package.json
Due: fixpack

fix(vscode extension): add screenshot to README
  extensions/vscode/README.md
  extensions/vscode/images/syntax_highlighting.png
  extensions/vscode/package.json
Due: fixpack

fix(vscode extension): correct screenshot link
  extensions/vscode/README.md
  extensions/vscode/package.json
Due: fixpack

docs(readme): add reference to vscode plugin
  README.md
  extensions/vscode/README.md
Due: none

fix(vscode extension): show injected function calls
  extensions/vscode/syntaxes/knot.tmLanguage
Due: none

fix(vscode extension): update iro syntax grammar
  extensions/syntax.iro
Due: none

feat: pass file cursor to parser
  compiler/lexer/Matcher.re
  compiler/lexer/TokenStream.re
  compiler/library/Fiber.re
  compiler/library/Token.re
  compiler/parser/Matchers.re
  compiler/test/LexerTest.re
  compiler/test/TokenStreamTest.re
  compiler/test/Util.re
Due: refmt --in-place

feat(options): add HTTPS option
  packages/utilities/cli/package.json
  packages/utilities/cli/src/index.ts
  packages/utilities/cli/templates/webpack_react/README.md
  packages/utilities/cli/templates/webpack_react/_package.json
  packages/utilities/cli/templates/webpack_react/webpack.config.ts
  yarn.lock
Due: fixpack

feat: make HTTPS configuration optional (#87)
  packages/utilities/cli/package.json
  packages/utilities/cli/src/index.ts
  packages/utilities/cli/templates/webpack_react/README.md
  packages/utilities/cli/templates/webpack_react/_package.json
  packages/utilities/cli/templates/webpack_react/webpack.config.ts
  yarn.lock
Due: fixpack

chore(release): release packages [skip ci]
  CHANGELOG.md
  packages/utilities/cli/package.json
Due: fixpack

test: update circleci config
  .circleci/config.yml
Due: none

test: fix tests
  .circleci/config.yml
  packages/binaries/compiler/src/constants.ts
  packages/plugins/bundler/browserify/src/setup.test.ts
  packages/plugins/bundler/browserify/src/setup.ts
Due: none

test: fix ci dependencies
  .circleci/config.yml
Due: none

ci: update job name
  .circleci/config.yml
Due: none

test: fix tests
  packages/plugins/bundler/browserify/src/setup.test.ts
Due: none

test: fix compiler tests
  compiler/test/Fixtures.re
  compiler/test/GeneratorTest.re
Due: refmt --in-place

test: fix cypress tests
  examples/webpack-react/webpack.config.ts
Due: none

ci: fix test command
  .circleci/config.yml
Due: none

chore(release): release packages [skip ci]
  CHANGELOG.md
  examples/todomvc/package.json
  examples/webpack-react/package.json
  packages/binaries/compiler/package.json
  packages/plugins/bundler/browserify/package.json
  packages/plugins/bundler/webpack/package.json
  packages/plugins/compiler/react/package.json
Due: fixpack

docs(readme): add reference to browserify plugin
  README.md
  examples/webpack-react/CHANGELOG.md
  packages/plugins/bundler/browserify/README.md
  packages/plugins/bundler/webpack/README.md
Due: none

docs(readme): add reference to browserify+react example
  README.md
Due: none

feat: add rollup plugin package
  .scripts.ts
  examples/rollup-react/.gitignore
  examples/rollup-react/.knot.yml
  examples/rollup-react/README.md
  examples/rollup-react/cypress.json
  examples/rollup-react/index.html
  examples/rollup-react/package.json
  examples/rollup-react/rollup.config.ts
  examples/rollup-react/src/components/Calculator.kn
  examples/rollup-react/src/components/Greeting.kn
  examples/rollup-react/src/components/Router.kn
  examples/rollup-react/src/components/Stylish.kn
  examples/rollup-react/src/components/Toggle.kn
  examples/rollup-react/src/index.js
  examples/rollup-react/src/index.kn
  examples/rollup-react/tsconfig.json
  examples/rollup-react/typings/budo.d.ts
  packages/binaries/compiler/src/compiler/index.ts
  packages/binaries/compiler/src/types.ts
  packages/binaries/compiler/src/wrapper/common.ts
  packages/binaries/compiler/src/wrapper/es6.ts
  packages/binaries/compiler/src/wrapper/index.ts
  packages/plugins/bundler/README.md
  packages/plugins/bundler/browserify/src/transform.ts
  packages/plugins/bundler/browserify/src/transform/node.ts
  packages/plugins/bundler/rollup/.nycrc
  packages/plugins/bundler/rollup/.scripts.ts
  packages/plugins/bundler/rollup/README.md
  packages/plugins/bundler/rollup/ava.config.js
  packages/plugins/bundler/rollup/package.json
  packages/plugins/bundler/rollup/src/index.ts
  packages/plugins/bundler/rollup/tsconfig.json
  packages/plugins/bundler/webpack/src/loader.ts
  packages/plugins/bundler/webpack/src/loader/node.ts
  yarn.lock
Due: fixpack

chore: cleanup and add tests
  .circleci/config.yml
  .scripts.ts
  examples/rollup-react/package.json
  examples/rollup-react/rollup.config.ts
  packages/plugins/bundler/rollup/README.md
  packages/plugins/bundler/rollup/package.json
  packages/plugins/bundler/rollup/src/index.test.ts
  packages/plugins/bundler/rollup/src/index.ts
  yarn.lock
Due: fixpack
