Repository effervescentia/knot: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, refmt --in-place

feat: floating point representation
  compiler/src/generate/JavaScript.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Number.re
  compiler/src/library/AST.re
  compiler/src/library/Block.re
  compiler/src/library/String.re
  compiler/test/generate/JavaScriptTest.re
  compiler/test/grammar/NumberTest.re
Due: refmt --in-place

feat: remove block from number
  compiler/src/generate/JavaScript.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Primitive.re
  compiler/src/library/AST.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScriptTest.re
  compiler/test/grammar/Util.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

feat: identifier AST enum
  compiler/src/compile/Compiler.re
  compiler/src/generate/JavaScript.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Statement.re
  compiler/src/library/AST.re
  compiler/src/library/Constants.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScriptTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/grammar/Util.re
  compiler/test/library/TestSuite.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

feat: add tuple utils
  compiler/src/library/Tuple.re
Due: none

feat: remove formatter and tweak block usage
  compiler/src/generate/JavaScript.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Primitive.re
  compiler/src/grammar/TypeOf.re
  compiler/src/library/AST.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScriptTest.re
  compiler/test/grammar/BooleanTest.re
  compiler/test/grammar/NilTest.re
  compiler/test/grammar/NumberTest.re
  compiler/test/grammar/StringTest.re
  compiler/test/grammar/Util.re
  compiler/test/library/TestSuite.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

feat: more lexeme wrapping
  compiler/package.json
  compiler/src/compile/Compiler.re
  compiler/src/generate/JavaScript.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Statement.re
  compiler/src/library/AST.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScriptTest.re
  compiler/test/generate/Util.re
  compiler/test/generate/dune
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/grammar/Util.re
  compiler/test/library/TestSuite.re
  compiler/test/resolve/ModuleTest.re
  compiler/test/resolve/dune
Due: fixpack, refmt --in-place

refactor: use separate debugging pretty printer
  compiler/src/compile/Compiler.re
  compiler/src/generate/JavaScript.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/TypeOf.re
  compiler/src/library/AST.re
  compiler/src/library/Debug.re
  compiler/src/library/Kore.re
  compiler/src/library/Pretty.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/compile/Util.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScriptTest.re
  compiler/test/grammar/BooleanTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/NilTest.re
  compiler/test/grammar/NumberTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/grammar/StringTest.re
  compiler/test/grammar/Util.re
  compiler/test/library/PrettyTest.re
  compiler/test/library/TestSuite.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

test: add formatter tests
  compiler/src/grammar/Formatter.re
  compiler/src/library/List.re
  compiler/src/library/Pretty.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/TestSuite.re
Due: refmt --in-place

feat(formatter): sort imports, space & group declarations
  compiler/src/grammar/Formatter.re
  compiler/src/library/Tuple.re
  compiler/test/grammar/FormatterTest.re
Due: refmt --in-place

feat(formatter): simplified group printing
  compiler/src/generate/JavaScript.re
  compiler/src/grammar/Formatter.re
  compiler/test/generate/JavaScriptTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/grammar/Util.re
Due: refmt --in-place

feat(formatter): collapse redundant groups
  compiler/src/grammar/Formatter.re
  compiler/test/grammar/FormatterTest.re
Due: refmt --in-place

feat(executable): add support for the format command
  compiler/src/compile/Compiler.re
  compiler/src/compile/Validate.re
  compiler/src/executable/Format.re
  compiler/test/executable/.fixtures/messy/main.kn
  compiler/test/executable/.fixtures/messy_cylic/main.kn
  compiler/test/executable/.fixtures/messy_cylic/utils.kn
  compiler/test/executable/.fixtures/messy_missing_import/main.kn
  compiler/test/executable/BuildTest.re
  compiler/test/executable/FormatTest.re
  compiler/test/executable/Kore.re
  compiler/test/executable/TestSuite.re
  compiler/test/file/Kore.re
Due: refmt --in-place

refactor: rename Char -> Input
  compiler/src/file/IO.re
  compiler/src/file/InputStream.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Matchers.re
  compiler/src/grammar/Number.re
  compiler/src/grammar/Program.re
  compiler/src/library/Input.re
  compiler/src/library/Kore.re
  compiler/src/parse/Onyx.re
  compiler/src/resolve/Module.re
  compiler/test/compile/ParserTest.re
  compiler/test/file/InputStreamTest.re
  compiler/test/file/TestSuite.re
  compiler/test/grammar/Assert.re
  compiler/test/grammar/Kore.re
  compiler/test/library/Assert.re
  compiler/test/library/InputTest.re
  compiler/test/library/TestSuite.re
Due: refmt --in-place

refactor: expand input context definition
  compiler/package.json
  compiler/src/file/InputStream.re
  compiler/src/grammar/Matchers.re
  compiler/src/library/Block.re
  compiler/src/library/Input.re
  compiler/src/parse/Onyx.re
  compiler/test/executable/FormatTest.re
  compiler/test/executable/TestSuite.re
  compiler/test/file/WatcherTest_IT.re
  compiler/test/generate/JavaScriptTest.re
  compiler/test/grammar/Util.re
  compiler/test/integration/TestSuite.re
  compiler/test/integration/dune
  compiler/test/library/Assert.re
  compiler/test/library/InputTest.re
  compiler/test/unit/TestSuite.re
  compiler/test/util/Async.re
  compiler/test/util/Kore.re
Due: fixpack, refmt --in-place

feat: add declarations to scope
  compiler/src/compile/ModuleTable.re
  compiler/src/grammar/Operator.re
  compiler/src/library/Debug.re
  compiler/src/library/Log.re
  compiler/src/library/Type.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/util/Assert.re
Due: refmt --in-place

feat: named imports
  compiler/package.json
  compiler/src/compile/Compiler.re
  compiler/src/generate/Generator.re
  compiler/src/generate/JavaScript.re
  compiler/src/generate/JavaScript_AST.re
  compiler/src/generate/JavaScript_Formatter.re
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/generate/Kore.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Import.re
  compiler/src/library/AST.re
  compiler/src/library/Debug.re
  compiler/src/library/String.re
  compiler/test/compile/Assert.re
  compiler/test/compile/ModuleTableTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/executable/BuildTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScriptTest.re
  compiler/test/generate/JavaScript_FormatterTest.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/generate/TestSuite.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/Assert.re
  compiler/test/resolve/Assert.re
  compiler/test/resolve/dune
  compiler/test/util/Assert.re
Due: fixpack, refmt --in-place

feat: better named imports
  compiler/src/compile/Compiler.re
  compiler/src/compile/Debug.re
  compiler/src/compile/Kore.re
  compiler/src/compile/ModuleTable.re
  compiler/src/compile/Validate.re
  compiler/src/file/Cache.re
  compiler/src/file/InputStream.re
  compiler/src/file/Writer.re
  compiler/src/generate/JavaScript_Formatter.re
  compiler/src/generate/Kore.re
  compiler/src/grammar/Character.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/Identifier.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Keyword.re
  compiler/src/grammar/Matchers.re
  compiler/src/grammar/Statement.re
  compiler/src/grammar/Symbol.re
  compiler/src/library/Constants.re
  compiler/src/library/Cursor.re
  compiler/src/library/Debug.re
  compiler/src/library/Graph.re
  compiler/src/library/Pretty.re
  compiler/src/parse/Onyx.re
  compiler/src/resolve/Debug.re
  compiler/src/resolve/ImportGraph.re
  compiler/test/compile/Assert.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ModuleTableTest.re
  compiler/test/generate/GeneratorTest.re
  compiler/test/generate/JavaScript_FormatterTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/library/Assert.re
  compiler/test/library/CursorTest.re
  compiler/test/library/InputTest.re
  compiler/test/resolve/Assert.re
Due: refmt --in-place

feat: define imported types in local scope
  compiler/package.json
  compiler/src/compile/Compiler.re
  compiler/src/compile/Debug.re
  compiler/src/compile/Parser.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/Program.re
  compiler/src/library/Debug.re
  compiler/src/library/Kore.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/Scope.re
  compiler/src/library/Type.re
  compiler/test/compile/Assert.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/TestSuite.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/grammar/Util.re
  compiler/test/grammar/dune
  compiler/test/library/Assert.re
  compiler/test/library/ModuleTableTest.re
  compiler/test/library/TestSuite.re
  compiler/test/library/Util.re
Due: fixpack, refmt --in-place

feat: add code frame
  compiler/src/executable/Build.re
  compiler/src/executable/Bundle.re
  compiler/src/executable/Cmd.re
  compiler/src/executable/Command.re
  compiler/src/executable/Config.re
  compiler/src/executable/ConfigOpt.re
  compiler/src/executable/Develop.re
  compiler/src/executable/Format.re
  compiler/src/executable/Kore.re
  compiler/src/executable/LSP.re
  compiler/src/executable/Lint.re
  compiler/src/executable/Mode.re
  compiler/src/executable/Opt.re
  compiler/src/executable/RunCmd.re
  compiler/src/executable/Watch.re
  compiler/src/file/CodeFrame.re
  compiler/src/library/Cursor.re
  compiler/src/library/Print.re
  compiler/test/file/.fixtures/multiline.txt
  compiler/test/file/CodeFrameTest.re
  compiler/test/file/Kore.re
  compiler/test/file/TestSuite.re
  compiler/test/grammar/JSXTest.re
  compiler/test/library/Util.re
Due: refmt --in-place

feat: use context to pass scope
  compiler/src/compile/Compiler.re
  compiler/src/compile/Parser.re
  compiler/src/grammar/Declaration.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/JSX.re
  compiler/src/grammar/Program.re
  compiler/src/grammar/Statement.re
  compiler/src/library/Context.re
  compiler/src/library/Error.re
  compiler/src/library/Kore.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ValidateTest.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

feat: better error handling
  compiler/src/compile/Compiler.re
  compiler/src/compile/Validate.re
  compiler/src/executable/Build.re
  compiler/src/executable/Config.re
  compiler/src/executable/ConfigOpt.re
  compiler/src/executable/Format.re
  compiler/src/executable/Kore.re
  compiler/src/executable/Watch.re
  compiler/src/resolve/Module.re
  compiler/test/compile/Assert.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ValidateTest.re
  compiler/test/executable/BuildTest.re
  compiler/test/library/Assert.re
  compiler/test/resolve/ModuleTest.re
Due: refmt --in-place

feat: better error handling
  compiler/src/library/Context.re
  compiler/src/library/Scope.re
Due: none

feat: better error handling
  compiler/src/grammar/Import.re
Due: none

feat: enable reporting errors while parsing
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Operator.re
  compiler/src/library/Context.re
  compiler/src/library/Scope.re
  compiler/test/grammar/Assert.re
  compiler/test/grammar/Declaration_ConstantTest.re
  compiler/test/grammar/ExpressionTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/JSXTest.re
  compiler/test/grammar/ProgramTest.re
Due: refmt --in-place

feat: compile errors with codeframes
  compiler/package.json
  compiler/src/cli/Main.re
  compiler/src/compile/Compiler.re
  compiler/src/compile/Parser.re
  compiler/src/executable/Build.re
  compiler/src/executable/Cmd.re
  compiler/src/executable/Config.re
  compiler/src/executable/ConfigOpt.re
  compiler/src/executable/Format.re
  compiler/src/executable/Kore.re
  compiler/src/executable/Reporter.re
  compiler/src/executable/Watch.re
  compiler/src/file/CodeFrame.re
  compiler/src/file/IO.re
  compiler/src/file/InputStream.re
  compiler/src/file/Kore.re
  compiler/src/file/Watcher.re
  compiler/src/grammar/Expression.re
  compiler/src/grammar/Import.re
  compiler/src/grammar/Operator.re
  compiler/src/grammar/Program.re
  compiler/src/library/Context.re
  compiler/src/library/Error.re
  compiler/src/library/Log.re
  compiler/src/library/Print.re
  compiler/src/library/Scope.re
  compiler/src/library/Type.re
  compiler/src/resolve/Module.re
  compiler/test/compile/ParserTest.re
  compiler/test/compile/ValidateTest.re
  compiler/test/executable/BuildTest.re
  compiler/test/executable/FormatTest.re
  compiler/test/file/Util.re
  compiler/test/file/dune
  compiler/test/grammar/Assert.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/Assert.re
  compiler/test/library/Util.re
  compiler/test/resolve/ModuleTest.re
Due: fixpack, refmt --in-place

feat: add paths to error messages
  compiler/src/executable/Reporter.re
  compiler/src/grammar/Operator.re
  compiler/src/resolve/Module.re
Due: none

feat: use global config for color
  compiler/src/cli/Main.re
  compiler/src/executable/Build.re
  compiler/src/executable/Format.re
  compiler/src/executable/Reporter.re
  compiler/src/executable/Watch.re
  compiler/src/file/CodeFrame.re
  compiler/src/library/Log.re
  compiler/src/library/Print.re
Due: none

feat: add file path
  compiler/src/executable/Reporter.re
  compiler/src/library/Print.re
Due: none

feat: add LSP support
  compiler/esy.lock/index.json
  compiler/esy.lock/opam/csexp.1.5.1/opam
  compiler/esy.lock/opam/dolog.6.0.0/opam
  compiler/esy.lock/opam/dune-configurator.2.8.5/opam
  compiler/esy.lock/opam/dune.2.8.5/opam
  compiler/package.json
  compiler/src/executable/Config.re
  compiler/src/executable/ConfigOpt.re
  compiler/src/executable/LSP.re
  compiler/src/language_server/Capabilities.re
  compiler/src/language_server/Event.re
  compiler/src/language_server/Kore.re
  compiler/src/language_server/Observer.re
  compiler/src/language_server/Response.re
  compiler/src/language_server/Server.re
  compiler/src/language_server/dune
  compiler/src/library/Infix.re
  compiler/src/library/Log.re
  compiler/src/library/String.re
  compiler/test/library/StringTest.re
  compiler/test/util/Assert.re
  extensions/vscode/package.json
  extensions/vscode/src/index.ts
  extensions/vscode/tsconfig.json
  extensions/vscode/yarn.lock
  packages/plugins/common/.scripts.ts
Due: fixpack, refmt --in-place

feat: transform compiler paths
  compiler/src/cli/Main.re
  compiler/src/compile/Compiler.re
  compiler/src/compile/Kore.re
  compiler/src/executable/Args.re
  compiler/src/executable/Build.re
  compiler/src/executable/Bundle.re
  compiler/src/executable/Cmd.re
  compiler/src/executable/ConfigFile.re
  compiler/src/executable/ConfigOpt.re
  compiler/src/executable/Develop.re
  compiler/src/executable/Format.re
  compiler/src/executable/Kore.re
  compiler/src/executable/LSP.re
  compiler/src/executable/Lint.re
  compiler/src/executable/Opt.re
  compiler/src/executable/RunCmd.re
  compiler/src/executable/Watch.re
  compiler/src/language_server/Protocol.re
  compiler/src/language_server/Response.re
  compiler/src/language_server/Server.re
  compiler/src/library/Config.re
  compiler/src/library/Kore.re
  compiler/src/library/Target.re
  compiler/test/executable/BuildTest.re
  compiler/test/executable/FormatTest.re
  compiler/test/executable/Kore.re
  compiler/test/generate/Kore.re
  compiler/test/library/Util.re
  extensions/vscode/src/index.ts
Due: refmt --in-place

feat: working code hover
  compiler/src/compile/Compiler.re
  compiler/src/compile/Parser.re
  compiler/src/executable/Format.re
  compiler/src/executable/Reporter.re
  compiler/src/file/IO.re
  compiler/src/language_server/Event.re
  compiler/src/language_server/Response.re
  compiler/src/language_server/Server.re
  compiler/src/language_server/TokenTree.re
  compiler/src/library/AST.re
  compiler/src/library/BinaryTree.re
  compiler/src/library/Error.re
  compiler/src/library/Graph.re
  compiler/src/library/Int.re
  compiler/src/library/Kore.re
  compiler/src/library/List.re
  compiler/src/library/RangeTree.re
  compiler/src/resolve/Module.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
Due: refmt --in-place

feat: working identifier typing
  compiler/src/compile/Compiler.re
  compiler/src/compile/ScopeTree.re
  compiler/src/grammar/Expression.re
  compiler/src/language_server/Server.re
  compiler/src/library/Context.re
  compiler/src/library/ModuleTable.re
  compiler/src/parse/Onyx.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/ModuleTableTest.re
  compiler/test/library/Util.re
Due: refmt --in-place

feat: keyword hover support
  compiler/src/compile/Compiler.re
  compiler/src/compile/ScopeTree.re
  compiler/src/executable/Reporter.re
  compiler/src/file/InputStream.re
  compiler/src/language_server/Response.re
  compiler/src/language_server/Server.re
  compiler/src/library/Cursor.re
  compiler/src/library/ModuleTable.re
  compiler/src/library/RangeTree.re
  compiler/src/resolve/Module.re
  compiler/test/compile/CompilerTest.re
  compiler/test/compile/ParserTest.re
  compiler/test/grammar/ImportTest.re
  compiler/test/grammar/ProgramTest.re
  compiler/test/library/Assert.re
  compiler/test/library/ModuleTableTest.re
Due: refmt --in-place

feat: basic code completion
  compiler/src/compile/ScopeTree.re
  compiler/src/language_server/Event.re
  compiler/src/language_server/Response.re
  compiler/src/language_server/Server.re
Due: none

refactor: modularize language server
  compiler/src/language_server/CodeCompletion.re
  compiler/src/language_server/Deserialize.re
  compiler/src/language_server/Event.re
  compiler/src/language_server/FileChange.re
  compiler/src/language_server/FileClose.re
  compiler/src/language_server/FileOpen.re
  compiler/src/language_server/GoToDefinition.re
  compiler/src/language_server/Hover.re
  compiler/src/language_server/Initialize.re
  compiler/src/language_server/Kore.re
  compiler/src/language_server/Protocol.re
  compiler/src/language_server/Response.re
  compiler/src/language_server/Runtime.re
  compiler/src/language_server/Server.re
  compiler/src/language_server/TokenTree.re
Due: none

feat: symbol lookup and better syntax highlighting
  compiler/src/grammar/Expression.re
  compiler/src/grammar/JSX.re
  compiler/src/language_server/CodeCompletion.re
  compiler/src/language_server/Deserialize.re
  compiler/src/language_server/Event.re
  compiler/src/language_server/FileChange.re
  compiler/src/language_server/FileClose.re
  compiler/src/language_server/FileOpen.re
  compiler/src/language_server/Format.re
  compiler/src/language_server/Hover.re
  compiler/src/language_server/Initialize.re
  compiler/src/language_server/Kore.re
  compiler/src/language_server/LocalSymbols.re
  compiler/src/language_server/Response.re
  compiler/src/language_server/Runtime.re
  compiler/src/language_server/Server.re
  compiler/src/language_server/WorkspaceSymbols.re
  compiler/src/library/Debug.re
  compiler/src/library/Reference.re
  compiler/test/compile/CompilerTest.re
  compiler/test/grammar/JSXTest.re
  extensions/syntax.iro
  extensions/vscode/src/index.ts
  extensions/vscode/syntaxes/knot.tmLanguage
Due: refmt --in-place

feat: generate jsx token lookup tree
  compiler/src/generate/JavaScript_Generator.re
  compiler/src/grammar/Formatter.re
  compiler/src/grammar/JSX.re
  compiler/src/language_server/TokenTree.re
  compiler/src/library/AST.re
  compiler/src/library/Debug.re
  compiler/test/generate/JavaScript_GeneratorTest.re
  compiler/test/grammar/FormatterTest.re
  compiler/test/grammar/JSXTest.re
Due: refmt --in-place

Path conditions:
  fixpack: (any of: **/(!esy.lock)/**/package.json) or (any of: package.json)
  refmt --in-place: any of: compiler/{library,lexer,parser,resolver,analyzer,generator,compiler,executable,test}/**/*.re
