Repository effervescentia/knot: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, refmt --in-place

ci: fix config
  .circleci/config.yml
Due: none

ci: fix test config
  .circleci/config.yml
Due: none

feat: add rollup plugin package (#90)
  .circleci/config.yml
  .scripts.ts
  examples/rollup-react/.gitignore
  examples/rollup-react/.knot.yml
  examples/rollup-react/README.md
  examples/rollup-react/cypress.json
  examples/rollup-react/index.html
  examples/rollup-react/package.json
  examples/rollup-react/rollup.config.ts
  examples/rollup-react/src/components/Calculator.kn
  examples/rollup-react/src/components/Greeting.kn
  examples/rollup-react/src/components/Router.kn
  examples/rollup-react/src/components/Stylish.kn
  examples/rollup-react/src/components/Toggle.kn
  examples/rollup-react/src/index.js
  examples/rollup-react/src/index.kn
  examples/rollup-react/tsconfig.json
  examples/rollup-react/typings/budo.d.ts
  packages/binaries/compiler/src/compiler/index.ts
  packages/binaries/compiler/src/types.ts
  packages/binaries/compiler/src/wrapper/common.ts
  packages/binaries/compiler/src/wrapper/es6.ts
  packages/binaries/compiler/src/wrapper/index.ts
  packages/plugins/bundler/README.md
  packages/plugins/bundler/browserify/src/transform.ts
  packages/plugins/bundler/browserify/src/transform/node.ts
  packages/plugins/bundler/rollup/.nycrc
  packages/plugins/bundler/rollup/.scripts.ts
  packages/plugins/bundler/rollup/README.md
  packages/plugins/bundler/rollup/ava.config.js
  packages/plugins/bundler/rollup/package.json
  packages/plugins/bundler/rollup/src/index.test.ts
  packages/plugins/bundler/rollup/src/index.ts
  packages/plugins/bundler/rollup/tsconfig.json
  packages/plugins/bundler/webpack/src/loader.ts
  packages/plugins/bundler/webpack/src/loader/node.ts
  yarn.lock
Due: fixpack

chore(release): release packages [skip ci]
  CHANGELOG.md
  examples/browserify-react/package.json
  examples/todomvc/package.json
  examples/webpack-react/package.json
  packages/binaries/compiler/package.json
  packages/plugins/bundler/browserify/package.json
  packages/plugins/bundler/rollup/package.json
  packages/plugins/bundler/webpack/package.json
Due: fixpack

docs(readme): add reference to @knot/rollup-plugin
  README.md
  packages/plugins/bundler/rollup/README.md
Due: none

docs(readme): update example readme
  examples/rollup-react/README.md
Due: none

chore: cleanup unused files, fix errors, update documentation
  examples/browserify-react/.gitignore
  examples/browserify-react/README.md
  examples/browserify-react/package.json
  examples/browserify-react/typings/budo.d.ts
  examples/rollup-react/.gitignore
  examples/rollup-react/package.json
  examples/rollup-react/typings/budo.d.ts
  examples/todomvc/.gitignore
  examples/todomvc/package.json
  examples/webpack-react/.gitignore
  examples/webpack-react/README.md
  examples/webpack-react/package.json
  examples/webpack-react/webpack.config.ts
  packages/plugins/bundler/browserify/README.md
  packages/plugins/bundler/rollup/README.md
  packages/plugins/bundler/webpack/README.md
Due: fixpack

docs(readme): add usage examples
  packages/binaries/compiler/README.md
Due: none

feat: add typedoc plugin
  .eslintignore
  .scripts.ts
  package.json
  packages/binaries/compiler/.gitignore
  packages/binaries/compiler/.scripts.ts
  packages/binaries/compiler/README.md
  packages/binaries/compiler/package.json
  packages/plugins/typedoc/.nycrc
  packages/plugins/typedoc/.scripts.ts
  packages/plugins/typedoc/README.md
  packages/plugins/typedoc/ava.config.js
  packages/plugins/typedoc/package.json
  packages/plugins/typedoc/src/index.ts
  packages/plugins/typedoc/tsconfig.json
  yarn.lock
Due: fixpack

feat(project generator): add support for rollup and browserify
  examples/browserify-react/package.json
  packages/utilities/cli/README.md
  packages/utilities/cli/package.json
  packages/utilities/cli/src/index.ts
  packages/utilities/cli/templates/browserify/_package.json
  packages/utilities/cli/templates/browserify/browserify.ts
  packages/utilities/cli/templates/common/README.md
  packages/utilities/cli/templates/common/_.gitignore
  packages/utilities/cli/templates/common/_.knot.yml
  packages/utilities/cli/templates/common/index.html
  packages/utilities/cli/templates/common/src/components/Greeting.kn
  packages/utilities/cli/templates/common/src/index.js
  packages/utilities/cli/templates/common/src/index.kn
  packages/utilities/cli/templates/common/tsconfig.json
  packages/utilities/cli/templates/https/certs/.gitkeep
  packages/utilities/cli/templates/rollup/_package.json
  packages/utilities/cli/templates/rollup/rollup.config.ts
  packages/utilities/cli/templates/webpack/_package.json
  packages/utilities/cli/templates/webpack/webpack.config.ts
  yarn.lock
Due: fixpack

feat(project generator): add support for rollup and browserify (#92)
  examples/browserify-react/package.json
  packages/utilities/cli/README.md
  packages/utilities/cli/package.json
  packages/utilities/cli/src/index.ts
  packages/utilities/cli/templates/browserify/_package.json
  packages/utilities/cli/templates/browserify/browserify.ts
  packages/utilities/cli/templates/common/README.md
  packages/utilities/cli/templates/common/_.gitignore
  packages/utilities/cli/templates/common/_.knot.yml
  packages/utilities/cli/templates/common/index.html
  packages/utilities/cli/templates/common/src/components/Greeting.kn
  packages/utilities/cli/templates/common/src/index.js
  packages/utilities/cli/templates/common/src/index.kn
  packages/utilities/cli/templates/common/tsconfig.json
  packages/utilities/cli/templates/https/certs/.gitkeep
  packages/utilities/cli/templates/rollup/_package.json
  packages/utilities/cli/templates/rollup/rollup.config.ts
  packages/utilities/cli/templates/webpack/_package.json
  packages/utilities/cli/templates/webpack/webpack.config.ts
  yarn.lock
Due: fixpack

chore(release): release packages [skip ci]
  CHANGELOG.md
  packages/utilities/cli/package.json
Due: fixpack

chore: more vue support
  examples/webpack-vue/src/index.js
  examples/webpack-vue/src/vue.js
  packages/plugins/common/.scripts.ts
  packages/plugins/common/README.md
  packages/plugins/common/package.json
  packages/plugins/common/src/index.ts
  packages/plugins/common/src/types.ts
  packages/plugins/common/src/utils/functional.ts
  packages/plugins/common/src/utils/index.ts
  packages/plugins/common/src/utils/object.ts
  packages/plugins/common/tsconfig.json
  packages/plugins/common/tsconfig.module.json
  packages/plugins/compiler/utils/src/types.ts
  packages/plugins/compiler/vue/src/element/data.ts
  packages/plugins/compiler/vue/src/element/index.ts
  packages/plugins/compiler/vue/src/main.ts
  packages/plugins/compiler/vue/src/types.ts
Due: fixpack

chore: more generator testing
  compiler/generator/Core.re
  compiler/test/Fixtures.re
  compiler/test/resources/snippets/sample.kn
  packages/binaries/compiler/src/constants.ts
Due: refmt --in-place

feat: better working vue pattern
  .scripts.ts
  compiler/generator/View.re
  examples/webpack-vue/src/index.js
  examples/webpack-vue/src/index.kn
  packages/plugins/bundler/webpack/package.json
  packages/plugins/bundler/webpack/src/loader.ts
  packages/plugins/bundler/webpack/src/logger.ts
  packages/plugins/compiler/react/src/main.ts
  packages/plugins/compiler/utils/src/types.ts
  packages/plugins/compiler/vue/src/data.ts
  packages/plugins/compiler/vue/src/element/index.ts
  packages/plugins/compiler/vue/src/main.ts
  packages/plugins/compiler/vue/src/types.ts
  yarn.lock
Due: fixpack, refmt --in-place

refactor: cleanup
  examples/webpack-vue/src/vue.js
  packages/plugins/bundler/webpack/src/loader.ts
  packages/plugins/compiler/vue/src/data.ts
Due: none

feat: working vue component state
  compiler/generator/View.re
  examples/webpack-vue/src/components/Router.kn
  examples/webpack-vue/src/index.kn
  packages/plugins/compiler/react/src/state.ts
  packages/plugins/compiler/vue/src/main.ts
  packages/plugins/compiler/vue/src/state.ts
  packages/plugins/compiler/vue/src/types.ts
Due: refmt --in-place

refactor: switch to arrow functions
  packages/plugins/compiler/react/src/state.ts
  packages/plugins/compiler/utils/src/types.ts
  packages/plugins/compiler/vue/src/data.ts
  packages/plugins/compiler/vue/src/main.ts
  packages/plugins/compiler/vue/src/state.ts
Due: none

refactor: move state key to constants file
  packages/plugins/compiler/react/src/main.ts
  packages/plugins/compiler/utils/src/constants.ts
  packages/plugins/compiler/utils/src/index.ts
  packages/plugins/compiler/vue/src/main.ts
Due: none

docs(readme): add more badges
  README.md
  examples/browserify-react/README.md
  examples/rollup-react/README.md
  examples/todomvc/README.md
  examples/webpack-react/README.md
  examples/webpack-vue/README.md
  packages/binaries/compiler/README.md
  packages/plugins/bundler/browserify/README.md
  packages/plugins/bundler/rollup/README.md
  packages/plugins/bundler/webpack/README.md
  packages/plugins/common/README.md
  packages/plugins/compiler/browser/README.md
  packages/plugins/compiler/jss/README.md
  packages/plugins/compiler/react/README.md
  packages/plugins/compiler/utils/README.md
  packages/plugins/compiler/vue/README.md
  packages/utilities/cli/README.md
Due: none

docs(readme): add emoji
  README.md
Due: none

docs(readme): clean up
  packages/utilities/cli/README.md
Due: none

test: add ci for vue plugin
  .circleci/config.yml
Due: none

test: improve ci for packages
  .circleci/config.yml
Due: none

test: add more generator tests
  compiler/test/Fixtures.re
  compiler/test/resources/snippets/sample.kn
Due: refmt --in-place

test: add missing tests
  packages/plugins/common/.nycrc
  packages/plugins/common/ava-setup.js
  packages/plugins/common/ava.config.js
  packages/plugins/common/src/index.test.ts
  packages/plugins/common/src/utils/array.ts
  packages/plugins/common/src/utils/index.ts
  packages/plugins/common/src/utils/object.ts
  packages/plugins/compiler/react/src/index.test.ts
  packages/plugins/compiler/utils/.nycrc
  packages/plugins/compiler/utils/ava-setup.js
  packages/plugins/compiler/utils/ava.config.js
  packages/plugins/compiler/utils/src/error.test.ts
  packages/plugins/compiler/vue/.nycrc
  packages/plugins/compiler/vue/ava-setup.js
  packages/plugins/compiler/vue/ava.config.js
  packages/plugins/compiler/vue/src/index.test.ts
Due: none

build: attach workspace before restoring
  .circleci/config.yml
Due: none

refactor: remove unused yarn.lock files
  examples/todomvc/yarn.lock
  examples/webpack-react/yarn.lock
  examples/webpack-vue/yarn.lock
  packages/binaries/compiler/yarn.lock
  packages/plugins/bundler/webpack/yarn.lock
  packages/plugins/compiler/browser/yarn.lock
  packages/plugins/compiler/jss/yarn.lock
  packages/plugins/compiler/react/yarn.lock
Due: none

build: restore common project
  .circleci/config.yml
  packages/plugins/compiler/react/package.json
Due: fixpack

build: add requirement
  .circleci/config.yml
Due: none

build: update cypress image version
  .circleci/config.yml
Due: none

build: more circleci config changes
  .circleci/config.yml
Due: none

build(ci): config
  .circleci/config.yml
Due: none

build(ci): fix bundler path
  .circleci/config.yml
Due: none

refactor: update dependencies to make @knot/react-plugin optional
  examples/browserify-react/package.json
  examples/rollup-react/package.json
  examples/todomvc/package.json
  examples/webpack-react/package.json
  packages/plugins/bundler/browserify/package.json
  packages/plugins/bundler/rollup/package.json
  packages/plugins/bundler/webpack/package.json
Due: fixpack

build(ci): restore all example deps
  .circleci/config.yml
Due: none

Path conditions:
  fixpack: (any of: **/(!esy.lock)/**/package.json) or (any of: package.json)
  refmt --in-place: any of: compiler/{library,lexer,parser,resolver,analyzer,generator,compiler,executable,test}/**/*.re
