Repository effervescentia/knot: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, refmt --in-place

fix: allow smarter override for knot binary (#73)
  .scripts.ts
  examples/todo/package.json
  examples/todo/webpack.config.ts
  examples/webpack-react/package.json
  examples/webpack-react/webpack.config.ts
  packages/plugins/bundler/webpack/src/compiler/index.ts
  packages/plugins/bundler/webpack/src/config.ts
Due: fixpack

chore(deps): update development dependencies
  yarn.lock
Due: none

chore(deps): update development dependencies (#74)
  yarn.lock
Due: none

chore(release): release packages [skip ci]
  CHANGELOG.md
  examples/todo/package.json
  examples/webpack-react/package.json
  packages/plugins/bundler/webpack/package.json
Due: fixpack

chore: cleanup Printf.sptrintf calls
  compiler/compiler/Loader.re
  compiler/test/TestSuite.re
Due: refmt --in-place

chore: revert printf update
  compiler/compiler/Loader.re
  compiler/test/TestSuite.re
Due: refmt --in-place

chore(release): release packages [skip ci]
  CHANGELOG.md
  examples/todo/package.json
  examples/webpack-react/package.json
  packages/binaries/compiler/package.json
  packages/plugins/bundler/webpack/package.json
Due: fixpack

chore(deps): update development dependencies (#76)
  yarn.lock
Due: none

chore(deps): update production dependencies
  yarn.lock
Due: none

chore(deps): update production dependencies (#77)
  yarn.lock
Due: none

feat(error): add codeframe for displaying syntax and semantic errors
  compiler/compiler/Compiler.re
  compiler/compiler/Loader.re
  compiler/compiler/Util.re
  compiler/library/CodeFrame.re
  compiler/library/Debug_Token.re
  compiler/library/Exception.re
  compiler/library/Token.re
  compiler/library/UnicodeFileReader.re
  compiler/library/UnicodeFileStream.re
  compiler/library/dune
  compiler/package.json
  compiler/test/TestSuite.re
Due: fixpack, refmt --in-place

feat(error): add codeframe for displaying syntax and semantic errors (#78)
  compiler/compiler/Compiler.re
  compiler/compiler/Loader.re
  compiler/compiler/Util.re
  compiler/library/CodeFrame.re
  compiler/library/Debug_Token.re
  compiler/library/Exception.re
  compiler/library/Token.re
  compiler/library/UnicodeFileReader.re
  compiler/library/UnicodeFileStream.re
  compiler/library/dune
  compiler/package.json
  compiler/test/TestSuite.re
Due: fixpack, refmt --in-place

refactor: simplify and clean up modules
  compiler/analyzer/Scope.re
  compiler/compiler/BuildTbl.re
  compiler/compiler/Compiler.re
  compiler/compiler/Core.re
  compiler/compiler/Exception.re
  compiler/compiler/Linker.re
  compiler/compiler/Loader.re
  compiler/executable/Config.re
  compiler/executable/PathResolver.re
  compiler/lexer/Boolean.re
  compiler/lexer/Identifier.re
  compiler/lexer/Keyword.re
  compiler/library/CodeFrame.re
  compiler/library/Constants.re
  compiler/library/Debug_AST.re
  compiler/library/Debug_Util.re
  compiler/library/Globals.re
  compiler/library/MemberType.re
  compiler/library/NestedHashtbl.re
  compiler/library/UnicodeFileReader.re
  compiler/library/Util.re
  compiler/resolver/Declaration.re
  compiler/resolver/Expression.re
  compiler/resolver/Function.re
  compiler/resolver/Import.re
  compiler/resolver/Property.re
  compiler/resolver/Reference.re
  compiler/resolver/Type.re
  compiler/test/Assert.re
Due: refmt --in-place

refactor: clean up lexer
  compiler/executable/Exception.re
  compiler/lexer/Boolean.re
  compiler/lexer/Comment.re
  compiler/lexer/Core.re
  compiler/lexer/Exception.re
  compiler/lexer/Identifier.re
  compiler/lexer/Keyword.re
  compiler/lexer/Lexer.re
  compiler/lexer/Pattern.re
  compiler/lexer/Text.re
  compiler/lexer/TokenStream.re
  compiler/lexer/Util.re
Due: refmt --in-place

refactor: centralize exceptions
  compiler/analyzer/Core.re
  compiler/analyzer/Definition.re
  compiler/analyzer/Exception.re
  compiler/compiler/Compiler.re
  compiler/compiler/Core.re
  compiler/compiler/Exception.re
  compiler/compiler/Linker.re
  compiler/compiler/Loader.re
  compiler/compiler/Util.re
  compiler/executable/Exception.re
  compiler/executable/Kore.re
  compiler/executable/Util.re
  compiler/lexer/Comment.re
  compiler/lexer/Core.re
  compiler/lexer/Debug.re
  compiler/lexer/Lexer.re
  compiler/lexer/Util.re
  compiler/library/Debug_MemberType.re
  compiler/library/Exception.re
  compiler/library/MemberType.re
  compiler/parser/Operator.re
  compiler/resolver/Context.re
  compiler/resolver/Core.re
  compiler/resolver/Declaration.re
  compiler/resolver/Exception.re
  compiler/resolver/Expression.re
  compiler/resolver/Function.re
  compiler/resolver/Import.re
  compiler/resolver/Property.re
  compiler/resolver/Reference.re
  compiler/resolver/Resolver.re
  compiler/resolver/State.re
  compiler/resolver/Type.re
  compiler/test/ConstResolverTest.re
  compiler/test/LexerTest.re
Due: refmt --in-place

feat: add compiler-wide error system
  compiler/analyzer/Analyzer.re
  compiler/analyzer/Definition.re
  compiler/compiler/Compiler.re
  compiler/compiler/Core.re
  compiler/compiler/Linker.re
  compiler/compiler/Loader.re
  compiler/executable/Config.re
  compiler/executable/Error.re
  compiler/executable/Exception.re
  compiler/executable/Main.re
  compiler/executable/Main_StandAlone.re
  compiler/executable/PathResolver.re
  compiler/executable/Routes.re
  compiler/executable/Util.re
  compiler/lexer/Core.re
  compiler/lexer/Lexer.re
  compiler/library/Exception.re
  compiler/library/Globals.re
  compiler/library/Invariant.re
  compiler/library/MemberType.re
  compiler/library/NestedHashtbl.re
  compiler/library/Operators.re
  compiler/parser/Operator.re
  compiler/resolver/Declaration.re
  compiler/resolver/Expression.re
  compiler/resolver/Function.re
  compiler/resolver/Import.re
  compiler/resolver/Property.re
  compiler/resolver/Reference.re
  compiler/resolver/Resolver.re
  compiler/resolver/State.re
  compiler/resolver/Type.re
  compiler/test/ConstResolverTest.re
  compiler/test/LexerTest.re
Due: refmt --in-place

fix: handle failing status
  compiler/executable/Routes.re
Due: refmt --in-place

chore: cleanup
  compiler/analyzer/Module.re
  compiler/executable/Error.re
  compiler/test/resources/project/src/index.kn
  compiler/test/resources/project/src/utils.kn
Due: refmt --in-place

chore: more
  compiler/README.md
  compiler/executable/Error.re
  compiler/lexer/Text.re
  compiler/library/Exception.re
  package.json
  yarn.lock
Due: fixpack, refmt --in-place

test: add missing type to test file
  compiler/test/resources/simple_project/src/index.kn
Due: none

docs(changelog): remove extra information from changelog
  CHANGELOG.md
  package.json
  yarn.lock
Due: fixpack

refactor(typescript): upgrade JavaScript projects to TypeScript
  packages/binaries/compiler/.scripts.ts
  packages/binaries/compiler/CHANGELOG.md
  packages/binaries/compiler/ava.config.js
  packages/binaries/compiler/index.js
  packages/binaries/compiler/install.js
  packages/binaries/compiler/package.json
  packages/binaries/compiler/tsconfig.json
  packages/plugins/bundler/webpack/CHANGELOG.md
  packages/plugins/compiler/browser/.nycrc
  packages/plugins/compiler/browser/.scripts.ts
  packages/plugins/compiler/browser/CHANGELOG.md
  packages/plugins/compiler/browser/ava.config.js
  packages/plugins/compiler/browser/index.js
  packages/plugins/compiler/browser/package.json
  packages/plugins/compiler/browser/src/index.test.ts
  packages/plugins/compiler/browser/src/index.ts
  packages/plugins/compiler/browser/src/utils.ts
  packages/plugins/compiler/browser/tsconfig.json
  packages/plugins/compiler/browser/tsconfig.module.json
  packages/plugins/compiler/browser/utils.js
  packages/plugins/compiler/jss/CHANGELOG.md
  packages/plugins/compiler/jss/package.json
  packages/plugins/compiler/react/CHANGELOG.md
  packages/plugins/compiler/react/package.json
Due: fixpack

chore: add missing files
  packages/binaries/compiler/src/install.test.ts
  packages/binaries/compiler/src/install.ts
Due: none

fix: only install if project has been built
  packages/binaries/compiler/install.js
Due: none

ci: build all typescript packages in parallel
  .circleci/config.yml
Due: none

ci: fix package path
  .circleci/config.yml
Due: none

fix: upgrade JavaScript projects to TypeScript (#80)
  .circleci/config.yml
  packages/binaries/compiler/.scripts.ts
  packages/binaries/compiler/CHANGELOG.md
  packages/binaries/compiler/ava.config.js
  packages/binaries/compiler/index.js
  packages/binaries/compiler/install.js
  packages/binaries/compiler/package.json
  packages/binaries/compiler/src/install.test.ts
  packages/binaries/compiler/src/install.ts
  packages/binaries/compiler/tsconfig.json
  packages/plugins/bundler/webpack/CHANGELOG.md
  packages/plugins/compiler/browser/.nycrc
  packages/plugins/compiler/browser/.scripts.ts
  packages/plugins/compiler/browser/CHANGELOG.md
  packages/plugins/compiler/browser/ava.config.js
  packages/plugins/compiler/browser/index.js
  packages/plugins/compiler/browser/package.json
  packages/plugins/compiler/browser/src/index.test.ts
  packages/plugins/compiler/browser/src/index.ts
  packages/plugins/compiler/browser/src/utils.ts
  packages/plugins/compiler/browser/tsconfig.json
  packages/plugins/compiler/browser/tsconfig.module.json
  packages/plugins/compiler/browser/utils.js
  packages/plugins/compiler/jss/CHANGELOG.md
  packages/plugins/compiler/jss/package.json
  packages/plugins/compiler/react/CHANGELOG.md
  packages/plugins/compiler/react/package.json
Due: fixpack

chore(release): release packages [skip ci]
  CHANGELOG.md
  examples/todo/package.json
  examples/webpack-react/package.json
  packages/binaries/compiler/package.json
  packages/plugins/bundler/webpack/package.json
  packages/plugins/compiler/browser/package.json
Due: fixpack

fix(codeframe): correct spacing for line numbers
  .circleci/config.yml
  compiler/library/CodeFrame.re
Due: refmt --in-place

refactor: simplify option use
  compiler/analyzer/Analyzer.re
  compiler/analyzer/Debug.re
  compiler/analyzer/Property.re
  compiler/compiler/Loader.re
  compiler/executable/Routes.re
  compiler/generator/Function.re
  compiler/generator/Import.re
  compiler/generator/View.re
  compiler/lexer/Character.re
  compiler/lexer/Core.re
  compiler/lexer/Keyword.re
  compiler/lexer/Util.re
  compiler/library/Debug_MemberType.re
  compiler/library/NestedHashtbl.re
  compiler/library/Operators.re
  compiler/library/Util.re
  compiler/resolver/Context.re
  compiler/resolver/Core.re
  compiler/resolver/Import.re
  compiler/resolver/Property.re
  compiler/resolver/Reference.re
Due: refmt --in-place

docs(readme): update project README files
  README.md
  compiler/README.md
  examples/todo/src/App.kn
  examples/todomvc/.gitignore
  examples/todomvc/.knot.yml
  examples/todomvc/CHANGELOG.md
  examples/todomvc/index.css
  examples/todomvc/index.html
  examples/todomvc/package.json
  examples/todomvc/src/App.kn
  examples/todomvc/src/Footer.kn
  examples/todomvc/src/State.kn
  examples/todomvc/src/TodoItem.kn
  examples/todomvc/src/components/Footer.kn
  examples/todomvc/src/components/Header.kn
  examples/todomvc/src/components/Info.kn
  examples/todomvc/src/components/Item.kn
  examples/todomvc/src/components/Items.kn
  examples/todomvc/src/index.js
  examples/todomvc/src/index.kn
  examples/todomvc/src/styles/Todo.kn
  examples/todomvc/tsconfig.json
  examples/todomvc/webpack.config.ts
  examples/todomvc/yarn.lock
  examples/webpack-react/README.md
  packages/binaries/compiler/README.md
  packages/plugins/bundler/webpack/README.md
  packages/plugins/compiler/browser/README.md
  packages/plugins/compiler/jss/README.md
  packages/plugins/compiler/react/README.md
  packages/utilities/cli/README.md
Due: fixpack

chore: more
  compiler/executable/Error.re
  compiler/lexer/Boolean.re
  compiler/lexer/Character.re
  compiler/lexer/Comment.re
  compiler/lexer/Constants.re
  compiler/lexer/Core.re
  compiler/lexer/Debug.re
  compiler/lexer/Identifier.re
  compiler/lexer/Keyword.re
  compiler/lexer/Lexer.re
  compiler/lexer/Matcher.re
  compiler/lexer/Number.re
  compiler/lexer/Pattern.re
  compiler/lexer/TestGround.re
  compiler/lexer/Text.re
  compiler/lexer/Util.re
  compiler/library/CodeFrame.re
  compiler/library/Exception.re
  compiler/library/Operators.re
  compiler/library/UnicodeFileStream.re
  compiler/library/Util.re
  compiler/test/Assert.re
  compiler/test/FileStreamTest.re
  compiler/test/LexerTest.re
  compiler/test/TestSuite.re
  compiler/test/TokenStreamTest.re
Due: refmt --in-place

fix: working refactor of lexer
  compiler/lexer/Character.re
  compiler/lexer/Comment.re
  compiler/lexer/Constants.re
  compiler/lexer/Core.re
  compiler/lexer/Debug.re
  compiler/lexer/Identifier.re
  compiler/lexer/Keyword.re
  compiler/lexer/Lexer.re
  compiler/lexer/Match.re
  compiler/lexer/Matcher.re
  compiler/lexer/Number.re
  compiler/lexer/Pattern.re
  compiler/lexer/TestGround.re
  compiler/lexer/Text.re
  compiler/lexer/Util.re
  compiler/library/Invariant.re
  compiler/library/Operators.re
  compiler/library/Util.re
  compiler/test/LexerTest.re
  compiler/test/TestSuite.re
Due: refmt --in-place

Path conditions:
  fixpack: (any of: **/(!esy.lock)/**/package.json) or (any of: package.json)
  refmt --in-place: any of: compiler/{library,lexer,parser,resolver,analyzer,generator,compiler,executable,test}/**/*.re
